@import "~bootstrap/scss/bootstrap";

$primary: #383838;
$primary-text: #9b9b9b;

body {
  background-color: $primary;
  color: $primary-text
}

h1 {
  color: $primary-text;
}

.app {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  } 